.dialogsItems {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10px 10px;
    grid-gap: 10px;
    grid-row-gap: 50px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
}

.dialogItem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

}

.name{
    margin-top: 20px;
}

.dialogItem :hover{
    cursor: pointer;
}


.avatar {
    margin-top: 10px;
    margin-left: 15px;
    width: 50px;
    border-radius: 50px;
}

.active .dialogsItems{
    background-color: #e3d1fa;
}
