.dialogsItems {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10px 10px;
    grid-gap: 10px;
    grid-row-gap: 50px;
}

.avatar {
    width: 50px;
    border-radius: 50px;
}

.dialogsItems a {
    text-decoration: none;
}

.dialogsItems a.active{
    color: goldenrod;
}
