.createPost {
    margin-top: 15px;
    background-color: white;
    padding: 25px;
}

.createPost textarea {
    font-size: 16px;
}

.postButton {
    margin-top: 10px;
}

.content {
    margin: 10px;
}