.post {
    color: black;
    background-color: white;
    margin: 15px;
    padding: 15px;
    white-space: pre-wrap;
    font-size: 16px;
}

.text {
    margin-bottom: 15px;
}

.author {
    margin-bottom: 15px;
}

.post .img {
    width: 45px;
    border-radius: 30px;
}

.like {
    padding-top: 5px;
}